URxvt.scrollBar: false
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true
XTerm*termName: xterm-256color
URxvt*termName: rxvt-unicode-256color
! underlinded 
XTerm*colorULMode: true
XTerm*colorUL: rgb:e4/e4/e4

XTerm*scaleHeight: 1.05
xterm*borderWidth: 0
Xterm*saveLines: 4096
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm*utf8: 1
XTerm*pointerColorBackground: black
XTerm*cursorColor: yellow

! Blacks
!xterm*color0:           #151515
!xterm*color8:           #505450
! Reds
xterm*color1:           #a60101
xterm*color9:           #f99090
! Greens
xterm*color2:           #026802
xterm*color10:          #a7e14b
! Yellows
xterm*color3:           #ab6e03
xterm*color11:          #fddc01
! Blues
xterm*color4:           #4a84a3
xterm*color12:          #7da7f4
! Purples
xterm*color5:           #af3391
xterm*color13:          #d658aa
! Cyans
xterm*color6:           #08bab0
xterm*color14:          #74fff7
! Whites
!xterm*color7:           #bbbbbb
!xterm*color15:          #ffffff
