$include /etc/inputrc

"\C-p":history-search-backward
"\C-n":history-search-forward

set echo-control-characters off

# Color files by types
set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
set colored-completion-prefix On
set menu-complete-display-prefix On

set show-mode-in-prompt on
#set vi-ins-mode-string "\033[0;33m+"
#set vi-cmd-mode-string "\033[0;32m "
# Different cursor on vi mode
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

# c-a-, append | less
"\e\C-,": "\e$a | less\e\C-m"

# c-l clear
"\C-l": "\e0Diclear\e\C-m"

# c-a-l clear cmd
"\e\C-l": "\e0D"

# alt-s  prepend with sudo
"\es": "\e0Isudo \e$"

# alt-e  prepend with echo % >> 
"\ee": "\e0I'\eA'\e0Iecho \e$a >> \eA"

# c-b to background
"\e\C-b": "\C-e > /dev/null 2>&1 &\C-m"

# apps
