! Fonts
Xft.dpi: 96
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt
URxvt.cursorUnderline: false
URxvt.perl-ext-common: default,matcher,font-size,url-select,keyboard-select,fullscreen
URxvt.keysym.F11:       perl:fullscreen:switch

! URxvt Appearance
URxvt.font: xft:Fira Code:regular:size=12
URxvt.boldFont: xft:Fira Code:style=Bold:size=12
URxvt.italicFont: xft:Fira Code:style=Italic:size=12
URxvt.boldItalicFont: xft:Fira Code:style=Bold Italic:size=12
URxvt.letterSpace: -1
URxvt.lineSpace: 0
URxvt.geometry: 120x60
URxvt.internalBorder: 0
URxvt.cursorBlink: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32

! rofi
! rofi.font: scientifica Regular 8
rofi.terminal: urxvtc
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e {ssh-client} {host}

! Clickable URLs
URxvt.url-launcher: google-chrome
URxvt.url-select.launcher:    google-chrome
URxvt.url-select-underline:   true
URxvt.matcher.button: 1

! Use Control-Shift-V/C for X clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Resizeable text
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease


! Colors
!#include "/home/sernam/.colors/themes/xcolors-zenburn.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-zenburn.Xresources"
!#include "/home/sernam/.colors/themes/base16-materia-256.Xresources"
!#include "/home/sernam/.colors/themes/arcadia_Midnight.Xresources"
#include "/home/sernam/.colors/themes/arcadia_Pitch.Xresources"
!#include "/home/sernam/.colors/themes/arcadia_Sunset.Xresources"
!#include "/home/sernam/.colors/themes/arcadia_Twilight.Xresources"
!#include "/home/sernam/.colors/themes/arcadia.Xresources"
!#include "/home/sernam/.colors/themes/base16-3024-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-3024.Xresource"
!#include "/home/sernam/.colors/themes/base16-apathy-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-apathy.Xresource"
!#include "/home/sernam/.colors/themes/base16-ashes-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-ashes.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-cave-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-cave.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-dune-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-dune.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-estuary-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-estuary.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-forest-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-forest.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-heath-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-heath.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-lakeside-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-lakeside.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-plateau-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-plateau.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-savanna-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-savanna.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-seaside-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-seaside.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-sulphurpool-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-atelier-sulphurpool.Xresource"
!#include "/home/sernam/.colors/themes/base16-bespin-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-bespin.Xresource"
!#include "/home/sernam/.colors/themes/base16-brewer-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-brewer.Xresource"
!#include "/home/sernam/.colors/themes/base16-bright-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-bright.Xresource"
!#include "/home/sernam/.colors/themes/base16-chalk-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-chalk.Xresource"
!#include "/home/sernam/.colors/themes/base16-codeschool-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-codeschool.Xresource"
!#include "/home/sernam/.colors/themes/base16-cupcake-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-cupcake.Xresource"
!#include "/home/sernam/.colors/themes/base16-darktooth-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-darktooth.Xresource"
!#include "/home/sernam/.colors/themes/base16-default-dark-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-default-dark.Xresource"
!#include "/home/sernam/.colors/themes/base16-dracula-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-dracula.Xresource"
!#include "/home/sernam/.colors/themes/base16-eighties-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-eighties.Xresource"
!#include "/home/sernam/.colors/themes/base16-embers-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-embers.Xresource"
!#include "/home/sernam/.colors/themes/base16-flat-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-flat.Xresource"
!#include "/home/sernam/.colors/themes/base16-github-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-github.Xresource"
!#include "/home/sernam/.colors/themes/base16-google-dark-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-google-dark.Xresource"
!#include "/home/sernam/.colors/themes/base16-grayscale-dark-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-grayscale-dark.Xresource"
!#include "/home/sernam/.colors/themes/base16-greenscreen-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-greenscreen.Xresource"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-hard-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-hard.Xresource"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-medium-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-medium.Xresource"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-pale-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-pale.Xresource"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-soft-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-soft.Xresource"
!#include "/home/sernam/.colors/themes/base16-harmonic-dark-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-harmonic-dark.Xresource"
!#include "/home/sernam/.colors/themes/base16-hopscotch-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-hopscotch.Xresource"
!#include "/home/sernam/.colors/themes/base16-irblack-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-irblack.Xresource"
!#include "/home/sernam/.colors/themes/base16-isotope-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-isotope.Xresource"
!#include "/home/sernam/.colors/themes/base16-macintosh-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-macintosh.Xresource"
!#include "/home/sernam/.colors/themes/base16-marrakesh-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-marrakesh.Xresource"
!#include "/home/sernam/.colors/themes/base16-materia-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-materia.Xresource"
!#include "/home/sernam/.colors/themes/base16-mocha-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-mocha.Xresource"
!#include "/home/sernam/.colors/themes/base16-monokai-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-monokai.Xresource"
!#include "/home/sernam/.colors/themes/base16-ocean-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-oceanicnext-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-oceanicnext.Xresource"
!#include "/home/sernam/.colors/themes/base16-ocean.Xresource"
!#include "/home/sernam/.colors/themes/base16-onedark-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-onedark.Xresource"
!#include "/home/sernam/.colors/themes/base16-paraiso-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-paraiso.Xresource"
!#include "/home/sernam/.colors/themes/base16-phd-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-phd.Xresource"
!#include "/home/sernam/.colors/themes/base16-pico-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-pico.Xresource"
!#include "/home/sernam/.colors/themes/base16-pop-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-pop.Xresource"
!#include "/home/sernam/.colors/themes/base16-railscasts-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-railscasts.Xresource"
!#include "/home/sernam/.colors/themes/base16-seti-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-seti.Xresource"
!#include "/home/sernam/.colors/themes/base16-solarflare-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-solarflare.Xresource"
!#include "/home/sernam/.colors/themes/base16-solarized-dark-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-solarized-dark.Xresource"
!#include "/home/sernam/.colors/themes/base16-spacemacs-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-spacemacs.Xresource"
!#include "/home/sernam/.colors/themes/base16-summerfruit-dark-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-summerfruit-dark.Xresource"
!#include "/home/sernam/.colors/themes/base16-tomorrow-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-tomorrow-night-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-tomorrow-night.Xresource"
!#include "/home/sernam/.colors/themes/base16-tomorrow.Xresource"
!#include "/home/sernam/.colors/themes/base16-tube-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-tube.Xresource"
!#include "/home/sernam/.colors/themes/base16-unikitty-dark-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-unikitty-dark.Xresource"
!#include "/home/sernam/.colors/themes/base16-woodland-256.Xresource"
!#include "/home/sernam/.colors/themes/base16-woodland.Xresource"
!#include "/home/sernam/.colors/themes/blueChocolate.Xresource"
!#include "/home/sernam/.colors/themes/bunsenlabs.Xresource"
!#include "/home/sernam/.colors/themes/dark_Custom.Xresource"
!#include "/home/sernam/.colors/themes/hyper-snazzy.Xresource"
!#include "/home/sernam/.colors/themes/hyper.Xresource"
!#include "/home/sernam/.colors/themes/icyphox.Xresource"
!#include "/home/sernam/.colors/themes/nord.Xresource"
!#include "/home/sernam/.colors/themes/numix.Xresource"
!#include "/home/sernam/.colors/themes/one-dark.Xresource"
!#include "/home/sernam/.colors/themes/pop_os.Xresource"
!#include "/home/sernam/.colors/themes/raven-dark.Xresource"
!#include "/home/sernam/.colors/themes/raven_m3-dark.Xresource"
!#include "/home/sernam/.colors/themes/raven_m6-dark.Xresource"
!#include "/home/sernam/.colors/themes/raven_m9-dark.Xresource"
!#include "/home/sernam/.colors/themes/raven_p3-dark.Xresource"
!#include "/home/sernam/.colors/themes/raven_p6-dark.Xresource"
!#include "/home/sernam/.colors/themes/raven_p9-dark.Xresource"
!#include "/home/sernam/.colors/themes/synthwave.Xresource"
!#include "/home/sernam/.colors/themes/TomorrowNightBlue.Xresource"
!#include "/home/sernam/.colors/themes/TomorrowNightBright.Xresource"
!#include "/home/sernam/.colors/themes/TomorrowNightEighties.Xresource"
!#include "/home/sernam/.colors/themes/TomorrowNight.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-apple-bright.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-apple-dark.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-astromouse.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-autumn.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Baskerville_-_Count_Von_Count.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Baskerville_-_Eldorado_dark.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-baskerville_-_FarSide.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-baskerville_-_ivory_dark.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-baskerville_-_lost_woods.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-belge.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-bitmute.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-bleh-1.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-blizzard-orb.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-brightly.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-chalk.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-cheesecake-dark.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-cinder.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-cloud.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-cold-bruise.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-colorfulcolors.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-cool-beans.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-cotton-candy.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-darkly.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-deafened.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-derp.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-digerati.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_canvasedpastel.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_catchmeifyoucan.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_citystreets.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_colorstar.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_panels.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_redphoenix.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_teva.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_unsiftedwheat.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_vwbug.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-DOOMICIDE_darkocean.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dotshare.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-dwmrob.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-epiphany.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-eqie6.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-erebus.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-euphrasia.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-fishbone.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-flowers.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Fulminated-Sunburn.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-gjm.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-gnometerm.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-good-pants.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-grandshell.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Gslob_nature-suede.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Gutterslob_-_aikofog.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Gutterslob_lightwhite.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-gutterslob_-_lumifoo.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-hybrid.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-iiamblack.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-insignificato.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-jasonwryan.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-jeans.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-jellybeans.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-jellyx.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-jwr-dark.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-leather.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-material.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-medium-roast.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-mikado.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-mikazuki.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-monotheme.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-mostly-awful.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Muse.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Muzieca_lowcontrast.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Muzieca_mono.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Muzieca_pastel_white.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-nancy.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-neon.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-nucolors.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-nudge.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-NumixDarkest.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-nvert.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-OK100_-_Matrix.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-orangish.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-paperko.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-parker_brothers.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-petals.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-phrak1.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-plastic-toys.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-pulp.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-rasi.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-rezza.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Rooster_-_SOS.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-rosewould.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-rydgel.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-sea-fox.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-sexcolors.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-shic.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-simple_rainbow.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-sour-candy.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-sourcerer.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-splurge.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-swayr.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-tangoesque.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-tango.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Tartan.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-theme2.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-thwump.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-tlh.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-user_77_-_Mashup_colors.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-Visiblue.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-visibone.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-woodlands.Xresource"
!#include "/home/sernam/.colors/themes/xcolors-zenburn.Xresource"


!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.Control-V: eval:paste_clipboard
URxvt.keysym.Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.keysym.C-M-c: builtin-string:

URxvt.keysym.M-u:             perl:url-select:select_next
URxvt.keysym.M-o:             perl:keyboard-select:activate
