! Fonts
Xft.dpi: 96
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt
URxvt.cursorUnderline: false
URxvt.perl-ext-common: default,matcher,font-size,url-select,keyboard-select,fullscreen
URxvt.keysym.F11:       perl:fullscreen:switch

! URxvt Appearance
URxvt.font: xft:Fira Code:regular:size=12
URxvt.boldFont: xft:Fira Code:style=Bold:size=12
URxvt.italicFont: xft:Fira Code:style=Italic:size=12
URxvt.boldItalicFont: xft:Fira Code:style=Bold Italic:size=12
URxvt.letterSpace: -1
URxvt.lineSpace: 0
URxvt.geometry: 120x60
URxvt.internalBorder: 0
URxvt.cursorBlink: true
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 32

! rofi
! rofi.font: scientifica Regular 8
rofi.terminal: urxvtc
rofi.ssh-client: ssh
rofi.ssh-command: {terminal} -e {ssh-client} {host}

! Clickable URLs
URxvt.url-launcher: google-chrome
URxvt.url-select.launcher:    google-chrome
URxvt.url-select-underline:   true
URxvt.matcher.button: 1

! Use Control-Shift-V/C for X clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Resizeable text
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease

! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.Control-V: eval:paste_clipboard
URxvt.keysym.Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.C-M-c: builtin-string:

URxvt.keysym.M-u:             perl:url-select:select_next
URxvt.keysym.M-o:             perl:keyboard-select:activate


! Colors
!#include "/home/sernam/.colors/themes/arcadia_Sunset.Xresources"
!#include "/home/sernam/.colors/themes/arcadia.Xresources"
!#include "/home/sernam/.colors/themes/base16-atelier-dune-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-atelier-estuary-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-atelier-heath-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-atelier-plateau-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-atelier-savanna-256.Xresources" ! !!
!#include "/home/sernam/.colors/themes/base16-atelier-sulphurpool-256.Xresources"

!#include "/home/sernam/.colors/themes/base16-brewer-256.Xresources"

#include "/home/sernam/.colors/themes/base16-bright-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-chalk-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-codeschool-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-cupcake-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-darktooth-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-default-dark-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-dracula-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-eighties-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-embers-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-flat-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-github-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-google-dark-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-grayscale-dark-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-greenscreen-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-hard-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-medium-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-pale-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-gruvbox-dark-soft-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-harmonic-dark-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-hopscotch-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-irblack-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-isotope-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-macintosh-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-marrakesh-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-materia-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-mocha-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-monokai-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-ocean-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-oceanicnext.Xresources"
!#include "/home/sernam/.colors/themes/base16-onedark-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-paraiso-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-phd-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-pico-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-pop-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-railscasts-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-seti-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-solarflare-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-solarized-dark-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-spacemacs-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-summerfruit-dark-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-tomorrow-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-tomorrow-night.Xresources"
!#include "/home/sernam/.colors/themes/base16-tube-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-unikitty-dark-256.Xresources"
!#include "/home/sernam/.colors/themes/base16-woodland-256.Xresources"
!#include "/home/sernam/.colors/themes/blueChocolate.Xresources"
!#include "/home/sernam/.colors/themes/bunsenlabs.Xresources"
!#include "/home/sernam/.colors/themes/dark_Custom.Xresources"
!#include "/home/sernam/.colors/themes/hyper-snazzy.Xresources"
!#include "/home/sernam/.colors/themes/hyper.Xresources"
!#include "/home/sernam/.colors/themes/icyphox.Xresources"
!#include "/home/sernam/.colors/themes/nord.Xresources"
!#include "/home/sernam/.colors/themes/numix.Xresources"
!#include "/home/sernam/.colors/themes/one-dark.Xresources"
!#include "/home/sernam/.colors/themes/pop_os.Xresources"
!#include "/home/sernam/.colors/themes/raven-dark.Xresources"
!#include "/home/sernam/.colors/themes/raven_m3-dark.Xresources"
!#include "/home/sernam/.colors/themes/raven_m6-dark.Xresources"
!#include "/home/sernam/.colors/themes/raven_m9-dark.Xresources"
!#include "/home/sernam/.colors/themes/raven_p3-dark.Xresources"
!#include "/home/sernam/.colors/themes/raven_p6-dark.Xresources"
!#include "/home/sernam/.colors/themes/raven_p9-dark.Xresources"
!#include "/home/sernam/.colors/themes/synthwave.Xresources"
!#include "/home/sernam/.colors/themes/TomorrowNightBlue.Xresources"
!#include "/home/sernam/.colors/themes/TomorrowNightBright.Xresources"
!#include "/home/sernam/.colors/themes/TomorrowNightEighties.Xresources"
!#include "/home/sernam/.colors/themes/TomorrowNight.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-apple-bright.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-apple-dark.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-astromouse.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-autumn.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Baskerville_-_Count_Von_Count.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Baskerville_-_Eldorado_dark.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-baskerville_-_FarSide.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-baskerville_-_ivory_dark.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-baskerville_-_lost_woods.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-belge.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-bitmute.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-bleh-1.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-blizzard-orb.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-brightly.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-chalk.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-cheesecake-dark.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-cinder.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-cloud.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-cold-bruise.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-colorfulcolors.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-cool-beans.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-cotton-candy.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-darkly.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-deafened.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-derp.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-digerati.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_canvasedpastel.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_catchmeifyoucan.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_citystreets.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_colorstar.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_panels.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_redphoenix.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_teva.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_unsiftedwheat.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dkeg_-_vwbug.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-DOOMICIDE_darkocean.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dotshare.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-dwmrob.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-epiphany.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-eqie6.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-erebus.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-euphrasia.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-fishbone.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-flowers.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Fulminated-Sunburn.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-gjm.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-gnometerm.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-good-pants.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-grandshell.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Gslob_nature-suede.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Gutterslob_-_aikofog.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Gutterslob_lightwhite.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-gutterslob_-_lumifoo.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-hybrid.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-iiamblack.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-insignificato.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-jasonwryan.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-jeans.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-jellybeans.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-jellyx.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-jwr-dark.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-leather.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-material.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-medium-roast.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-mikado.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-mikazuki.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-monotheme.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-mostly-awful.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Muse.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Muzieca_lowcontrast.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Muzieca_mono.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Muzieca_pastel_white.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-nancy.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-neon.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-nucolors.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-nudge.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-NumixDarkest.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-nvert.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-OK100_-_Matrix.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-orangish.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-paperko.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-parker_brothers.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-petals.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-phrak1.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-plastic-toys.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-pulp.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-rasi.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-rezza.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Rooster_-_SOS.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-rosewould.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-rydgel.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-sea-fox.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-sexcolors.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-shic.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-simple_rainbow.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-sour-candy.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-sourcerer.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-splurge.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-swayr.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-tangoesque.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-tango.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Tartan.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-theme2.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-thwump.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-tlh.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-user_77_-_Mashup_colors.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-Visiblue.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-visibone.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-woodlands.Xresources"
!#include "/home/sernam/.colors/themes/xcolors-zenburn.Xresources"
