if [ -f /usr/bin/xbindkeys ]; then
    xbindkeys
fi
if [ -f /usr/bin/yandex-disk ]; then
    yandex-disk start
fi
#qiv -z /usr/local/share/backgrounds/black-and-white-city-skyline-buildings.jpg 
#xinput --disable 14
#xinput --disable 11
xmodmap -e 'clear Lock' -e 'keycode 0x42 = Escape'
xrdb .Xresources
if [ -f ~/dotfiles/xterm_trans ]; then
   ~/dotfiles/xterm_trans > /dev/null
fi
pulseaudio --daemonize
