URxvt.scrollBar: false
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true
XTerm*termName: xterm-256color
URxvt*termName: rxvt-unicode-256color
! underlinded 
XTerm*colorULMode: true
XTerm*colorUL: rgb:e4/e4/e4
XTerm*colorIT: rgb:e4/e4/e4

XTerm*scaleHeight: 1.05
xterm*borderWidth: 0
Xterm*saveLines: 4096
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
XTerm*utf8: 1
!XTerm*pointerColorBackground: black
XTerm*cursorColor: #eecc90

! Reds
xterm*color1:           #e64848
xterm*color9:           #e98081
! Greens
xterm*color2:           #32a832
xterm*color10:          #a7e14b
! Yellows
xterm*color3:           #ab6e03
xterm*color11:          #fddc01
! Blues
xterm*color4:           #6b95b3
xterm*color12:          #8ea8f7
! Purples
xterm*color5:           #af3391
xterm*color13:          #d95a9a
! Cyans
xterm*color6:           #28dad0
xterm*color14:          #74fff7

! orange theme 179 178 185 
!xterm*color255:         #5D4306
xterm*color185:         #E2B956
*color185:              #E2B956
xterm*color179:         #DC9F0F
!xterm*color252:         #5D4714
xterm*color178:         #A97A0C
! Whites
!xterm*color7:           #bbbbbb
!xterm*color15:          #ffffff
! Blacks
!xterm*color0:           #151515
!xterm*color8:           #505450
!try find similar colors
!
!
!! black dark/light
*color0:                #073642
!*color8:                #002b36

!! red dark/light
*color1:                #dc322f
*color9:                #cb4b16

!! green dark/light
*color2:                #859900
*color10:               #586e75

!! yellow dark/light
*color3:                #b58900
*color11:               #657b83

!! blue dark/light
*color4:                #60a0d0
*color12:               #90a0b0

!! magenta dark/light
*color5:                #d04080
*color13:               #7070c0

!! cyan dark/light
*color6:                #30a0a0
*color14:               #90a0a0
